@use "colors";
@use "components";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	// background: red;
	background: colors.$body-color;
}
html {
	font-size: 10px;
	scroll-behavior: smooth;
	color: colors.$main-color;
}
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: colors.$main-color;
}

h3 {
	font-size: 2rem;
	letter-spacing: 1.5px;
}
// nav mobile

.navigation {
	position: fixed;
	display: flex;
	// align-items: center;
	// justify-content: center;
	height: 92px;
	width: 100%;
	// dodaj na desktopie
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	.burger-btn {
		position: fixed;
		top: 0;
		right: 2rem;
		padding: 2rem;
		// background-color: blue;
		background: none;
		cursor: pointer;
		border: 1px solid transparent;
		z-index: 1000;

		&:focus {
			outline: none;
			border: 1px solid gray;
			border-radius: 8px;
		}

		&__box {
			position: relative;
			width: 5rem;
			height: 5rem;
			// background-color: green;
		}

		&__bars {
			position: absolute;
			top: 1rem;
			width: 100%;
			height: 0.5rem;
			background-color: colors.$main-color;
			transition: width 0.3s;
		}
		&__bars::before {
			position: absolute;
			top: 1rem;
			right: 0;
			left: 0;
			width: 66%;
			height: 0.5rem;
			background-color: colors.$main-color;
			content: "";
			margin: 0 auto;
		}
		&__bars::after {
			position: absolute;
			top: 2rem;
			right: 0;
			left: 0;
			width: 33%;
			height: 0.5rem;
			margin: 0 auto;
			background-color: colors.$main-color;
			content: "";
		}

		&__box:hover {
			.burger-btn__bars,
			.burger-btn__bars::before,
			.burger-btn__bars::after {
				width: 2.5rem;
			}
		}
	}

	&__logoStyle {
		position: absolute;
		display: flex;
		align-items: center;
		height: 100%;
		padding-left: 2rem;
		font-size: 2rem;
		font-weight: bold;
		color: colors.$text-color;
	}

	&__mobile {
		width: 100%;
		height: 100vh;
		display: flex;
		// margin-top: 4rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// background-image: colors.$body-color;
		background-color: colors.$body-color;
		text-transform: uppercase;
		font-size: 1.6rem;
		font-weight: bold;
		color: colors.$main-color;

		&--show {
			display: none;
			background-color: transparent;
		}
	}

	ul li {
		position: relative;
		padding: 1.3rem;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 3rem;
			width: 0;
			height: 3px;
			background-color: colors.$text-color;
			transition: width 0.3s ease-in-out;
			transform: scaleX(1);
		}

		&:hover::after,
		&:focus::after,
		&:active::after {
			width: 50%;
			transform: scaleX(1.5);
		}
	}
}

@keyframes navLinksAnimation {
	from {
		transform: translateY(200%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.linksAnimation {
	animation: navLinksAnimation 4s;
}

// header

.header {
	position: relative;
	height: 75vh;
	// padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/ewa_piech_bg.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}

	&__text {
		position: absolute;
		text-align: center;
	}

	&__head {
		font-size: 4rem;
		font-weight: bold;
		color: colors.$text-color;
		text-transform: uppercase;
	}

	&__paragraph {
		margin-top: 1rem;
		font-size: 1.4rem;
		font-weight: bold;
		color: colors.$main-color;
		text-transform: uppercase;
	}
}

// section about me

.section {
	position: relative;

	&__text {
		display: flex;
		padding: 2rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__heading {
		padding: 2rem;
		font-size: 3rem;
		font-weight: bold;
		letter-spacing: 2px;
		color: colors.$text-color;
		text-transform: uppercase;
	}

	&__aboutMeImg {
		margin-bottom: 2rem;
		background-image: url("../img/houcine-ncib-B4TjXnI0Y2c-unsplash.jpg");
		background-size: cover;
		background-position: center;
		height: 40rem;
		width: 20rem;
		border-radius: 15px;
	}
	&__paragraph {
		font-size: 1.2rem;
	}

	&__img {
		position: relative;
		height: 75vh;
		width: 100%;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
	}
}

// education

.education {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;

	&__img {
		// position: relative;
		// height: 75vh;
		// width: 100%;
		background-image: url("../img/ewa_piech_kursyhiszpanski.jpg");
		// background-position: center;
		// background-size: cover;
		// background-attachment: fixed;
		// overflow: auto;
	}

	// &__bg {
	// 	position: absolute;
	// 	height: 100%;
	// 	width: 100%;
	// 	background-color: rgba(0, 0, 0, 0.5);
	// }

	// &__text {
	// 	position: absolute;
	// 	padding: 6rem;
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: center;
	// 	align-items: center;
	// 	text-transform: uppercase;
	// 	font-size: 1.2rem;
	// 	text-align: center;
	// 	z-index: 10;
	// }

	// &__paragraph {
	// 	padding: 2rem;
	// }
}

// translations

.translations__img {
	// position: relative;
	// height: 75vh;
	// width: 100%;
	background-image: url("../img/translate.jpg");
	// background-position: center;
	// background-size: cover;
	// background-attachment: fixed;
}

//

.price__img {
	// position: relative;
	// height: 75vh;
	// width: 100%;
	background-image: url("../img/price.jpg");
	// background-position: center;
	// background-size: cover;
	// background-attachment: fixed;
}

.footer {
	display: flex;
	flex-direction: column;
	// text-align: center;
	align-items: center;
	justify-content: center;

	&__text {
		margin: 0;
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		text-align: center;
		border: none;
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 3rem;
	}

	&__logoStyle {
		position: absolute;
		display: flex;
		align-items: center;
		margin: 4rem auto;
		font-size: 2rem;
		font-weight: bold;
		color: colors.$text-color;
	}
}
.icon-with-margin {
	margin: 1rem 1rem;
}
