@use "colors";
@use "components";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: colors.$body-color;
}
html {
	font-size: 10px;
	scroll-behavior: smooth;
}
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: colors.$main-color;
}

// nav mobile

.navigation {
	position: fixed;
	display: flex;
	// align-items: center;
	// justify-content: center;
	height: 92px;
	width: 100%;
	// dodaj na desktopie
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	.burger-btn {
		position: fixed;
		top: 0;
		right: 2rem;
		padding: 2rem;
		// background-color: blue;
		background: none;
		cursor: pointer;
		border: 1px solid transparent;
		z-index: 1000;

		&:focus {
			outline: none;
			border: 1px solid gray;
			border-radius: 8px;
		}

		&__box {
			position: relative;
			width: 5rem;
			height: 5rem;
			// background-color: green;
		}

		&__bars {
			position: absolute;
			top: 1rem;
			width: 100%;
			height: 0.5rem;
			background-color: colors.$main-color;
			transition: width 0.3s;
		}
		&__bars::before {
			position: absolute;
			top: 1rem;
			right: 0;
			left: 0;
			width: 66%;
			height: 0.5rem;
			background-color: colors.$main-color;
			content: "";
			margin: 0 auto;
		}
		&__bars::after {
			position: absolute;
			top: 2rem;
			right: 0;
			left: 0;
			width: 33%;
			height: 0.5rem;
			margin: 0 auto;
			background-color: colors.$main-color;
			content: "";
		}

		&__box:hover {
			.burger-btn__bars,
			.burger-btn__bars::before,
			.burger-btn__bars::after {
				width: 2.5rem;
			}
		}
	}

	&__logoStyle {
		position: absolute;
		display: flex;
		align-items: center;
		height: 100%;
		padding-left: 2rem;
		font-size: 2rem;
		font-weight: bold;
		color: colors.$text-color;
	}

	&__mobile {
		width: 100%;
		height: 100vh;
		display: flex;
		// margin-top: 4rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-image: colors.$body-color;
		text-transform: uppercase;
		font-size: 1.6rem;
		font-weight: bold;
		color: colors.$main-color;

		&--show {
			display: none;
			background-color: transparent;
		}
	}

	ul li {
		position: relative;
		padding: 1.3rem;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 3rem;
			width: 0;
			height: 3px;
			background-color: colors.$text-color;
			transition: width 0.3s ease-in-out;
			transform: scaleX(1);
		}

		&:hover::after,
		&:focus::after,
		&:active::after {
			width: 50%;
			transform: scaleX(1.5);
		}
	}
}

@keyframes navLinksAnimation {
	from {
		transform: translateY(200%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.linksAnimation {
	animation: navLinksAnimation 4s;
}

// header

.header {
	position: relative;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/ewa_piech_bg.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}

	&__text {
		position: absolute;
		text-align: center;
	}

	&__head {
		font-size: 4rem;
		font-weight: bold;
		color: colors.$text-color;
		text-transform: uppercase;
	}

	&__paragraph {
		margin-top: 1rem;
		font-size: 1.4rem;
		font-weight: bold;
		color: colors.$main-color;
		text-transform: uppercase;
	}
}
